$spacing-l-desktop: min(3dvw, 3dvh);
$spacing-md-desktop: min(2dvw, 2dvh);
$spacing-s-desktop: min(1dvw, 1dvh);

$spacing-l-mobile: min(6dvw, 6dvh);
$spacing-md-mobile: min(4dvw, 4dvh);
$spacing-s-mobile: min(2dvw, 2dvh);

$max-content-width-desktop: 600px;
